body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height: 100vh;
}
.container{
    background-color: black;
    border-bottom: 1px solid #ccc;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100px;
}
.fa-solid{
    color: #fff;
    margin:0px;
    font-size: 32px;
} 
.fa-brands{
    color: goldenrod;
}
.button{
    background-color: #474745;
    color: white;
    padding: 10px 10px;
    margin:10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease,color 0.3s ease;
    font-size: 20px;
}
.button:hover{
    background-color: #f0ad4e;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;  
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color:#fff;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #f0ad4e;
    border-radius: 5px;
}
.navbar li{
    flex-direction: row;
    margin: 0px 10px;
    font-size: 24px;
    font-weight: bolder;
}
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
}
.dp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}
.dp.active{
    opacity: 1;
    z-index: 0;
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    z-index: 2;
    padding: 20px;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    user-select: none;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}
.overlay-content h2{
    font-size: 50px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.explore-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color:  #474745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease,color 0.3s ease;
}
.explore-button:hover{
    background-color: #f0ad4e;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.explore {
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}
.general{
    padding: 0px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}
h1,h3,h2,p{
    color:white;

}
.links-nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;  
}
.links-nav li{
    color: white;
    margin: 10px 0px;
    font-weight: bolder;
    font-size: 2-px;

}
.links-nav li:hover{
    background-color: #f0ad4e;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    display: inline; 
}
.links-nav a{
    text-decoration: none;
    padding:2px 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.footer{
    background-color: black;
    color:rgba(29, 26, 26, 0.753);
    text-align: center;
    padding: 0px;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.footer h2{
    font-size: 20px;
    color: grey;

}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #f0ad4e;
}
.social-media ul{
    padding: 0px;
    margin: 5px;
}
.social-media li{
    color: white;
    margin: 5px;

}
.social-media li:hover{
    background-color: #f0ad4e;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    display: inline; 

}
.social-media a{
    color: white;
    text-decoration: none;
    padding:2px 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 0px;
    font-weight: bolder;
    font-size: 20px;
}
.meal-image{

    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee
}
.meal-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}
.meal-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.meals h1 {
  margin: 10px 0 5px;
  font-size: 24px;;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  text-decoration: double;
}
.meal h2 {
  font-size: 26px;
  color: #fff;
  margin: 10px 0;
  font-weight: bolder;
}

.meal p {
  padding: 0 10px 15px;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
}
.meal {
    background-color: rgb(218, 165, 32);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}
.meals {
    background-color: #2a2a2398;
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    color: white;                 
}
.client-image{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.client-container{
    display: flex;
    padding: 100px;
    margin: 0px;
}
.client{
    background-color: rgb(218, 165, 32);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.client-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.clients h1 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.client p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: bolder;
}
.client h3{
    font-size: 20px;
    font-weight: bolder;
}
.Sign-Up h1 {
    color: goldenrod;
    margin: 20px 0;
    font-size: 30px;
}
.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign p {
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}
.sign-up-button{
  background-color:  #474745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  margin: 40px;
}
.sign-up-button:hover {
    background-color: #f0ad4e;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.Sign-Up{
    background-color: #28282679;
    padding: 80px;
}
.info-section{
  padding: 40px 20px;
  width: auto;
  height: auto;
  background-image: url('../images/bgw.jpeg');
 }
.general{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.info1 h1{
    color: goldenrod;
    font-size: 28px;
    margin-bottom: 10px;
}
.info1 p{
    color: white;
    font-size: 20px;
    margin: 5px 0 10px;
    font-weight: bolder;
    
}
.logo2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}
.info{
    font-size: 20px;
    font-weight: bolder;
}